@import "src/shared-styles/variables";
@import "src/shared-styles/styles";
.section {
  background-color: #f2f2f2;
}

.main {
  max-width: 80vw;
}

.container {
  display: table;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.image {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #dfdfdf;
}

.image > img {
  width: 100%;
}

.textcontainer {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
}

.textcontainer h2 {
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: left;
  margin-bottom: 0;
}

.textcontainer p {
  font-size: 1.2em;
  line-height: 1.8em;
  text-align: left;
  color: grey;
  font-weight: 100;
}

.left .text {
  padding-left: 80px;
}

.left .text {
  padding-right: 80px;
}

.logo {
  width: 50%;
}
