@import "src/shared-styles/variables";
@import "src/shared-styles/styles";
.section {
  align-items: start;
  height: 150vh;
}

.section h1 {
  margin-bottom: 2em;
}

.main {
  max-width: none;
}

.placeholder {
  width: 20em;
  height: 15em;
  background-color: $c4;
  border: 1px solid #ccc;
}

.flexleft {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.flexright {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
