@import "src/shared-styles/variables";
@import "src/shared-styles/styles";

.main {
  max-width: 80vw;
}
.main h1 {
  margin-top: 90px;
  color: $greymedium;
  font-size: 1.2em;
}

.main h2 {
  font-weight: 300;
  font-size: 2.4em;
  text-transform: none;
}

.container {
  display: table;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.image > img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 10px 50px rgba(0,0,0,0.3);
}

.textcontainer {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
}

.textcontainer h2 {
  font-size: 1.5em;
  line-height: 1.6em;
  text-align: left;
  margin-bottom: 0;
}

.textcontainer p {
  font-size: 1.2em;
  text-align: center;
  color: $greydark;
  font-weight: 100;
}

.right .text {
  padding-left: 60px;
}

.left .text {
  padding-right: 60px;
}

.logo {
  width: 50%;
}

.section .text {

}

.section ul {
  list-style: none;
  text-align: left;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: .35px;
}

.section ul li {
  line-height:1.5em;
  margin-top: 5px;
}

.section ul li:nth-last-of-type(1), .section ul li:nth-last-of-type(2) {
  margin-top: 15px;
}

.textcontainer h2 {
  color: $greydark;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 1.375em;

}