@import "src/shared-styles/variables";
@import "src/shared-styles/styles";

.main {
    padding: 0;
    width: 1000px;
    height: 500px;
}

.section {
    background-color: $red;
    padding: 100px;
}
