@import "src/shared-styles/variables";
@import "src/shared-styles/styles";

.filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-image: url(https://previews.123rf.com/images/okamigo/okamigo1603/okamigo160300026/54310266-small-dots-halftone-background-overlay-texture-.jpg);
  mix-blend-mode: multiply;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
}

.main {
  max-width: none;
}

.herovid {
  position: relative;
  top: 0em;
  width: 100%;
}

.section {
  height: 90vh;
}

.section h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 4em;
  margin: 0;
  color: #fff;
}
.rolotext {
  overflow: hidden;
  height: 1.5em;
  line-height: 1.5em;
  color: #ecf0f1;
  font-weight: 600;
  overflow: hidden;
}

.rolotext span {
  display: block;
  margin: 0;
  float: left;
}

.rolotextlist {
  display: block;
  margin: 0;
  float: left;
  position: relative;
}

.rolotextli {
  margin-top: 0;
  text-align: left;
  list-style: none;
  animation-name: change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0;
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  // 49.98%,
  // 62.64% {
  //   transform: translate3d(0, -100%, 0);
  // }
  33.32%,
  45.98% {
    transform: translate3d(0, -100%, 0);
  }
  // 49.98%,
  // 62.64% {
  //   transform: translate3d(0, -300%, 0);
  // }
  66.64%,
  79.3% {
    transform: translate3d(0, -200%, 0);
  }
  // 83.3%,
  // 95.96% {
  //   transform: translate3d(0, -500%, 0);
  // }
}
