@import "src/shared-styles/variables";
@import "src/shared-styles/styles";

.bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main {
  max-width: none;
}

.section {
  background-color: $c2;
  height: 100vh;
}

.section h1 {
  font-size: 3.3em;
  margin: 0;
  color: $c1;
}
