.videocontainer {
  position: relative;
  display: block;
  height: 112vw;
  width: 100vw;
}

.videocontainer video {
  max-height: 56vw;
  width: 100vw;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0px;
}

.canvas {
  will-change: transform, height;

}

.relativebottom {
  left:0;
  position: absolute;
  bottom: 0px;
}

.relativetop {
  left:0;
  position: absolute;
  top: 0px;
}

.sticky {
  position: sticky;
}

@media (max-width:600px) {

  .videocontainer img {
    margin-left: -50vw;
    width: 200vw;
    height: 112vw;
  }
}