.videocontainer {
  display: inline-block;
  max-height: 56vw;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  mix-blend-mode: multiply;
}

.videoscrollbuffer {
  display: inline-block;
  height: 112vw;
  width: 100vw;
}

.videoscrollbuffer video {
  position: absolute;
  max-height: 56vw;
  width: 100vw;
  left: 0;
  top: 0;
}
