@import "src/shared-styles/variables";
@import "src/shared-styles/styles.scss";

.section {
  border-bottom: 1px solid $greylight;
}

.subsection {
  height: 100%;
  flex: 0 1 300px;
  padding-left: 15px;
  margin: 0;
  transition: 0.3s all;
  overflow: hidden;
  border-radius: 2px;
}

.main h1 {
  margin-top: 80px;
  color: $greymedium;
  font-size: 1.2em;
}

.main h2 {
  font-weight: 300;
  font-size: 2.4em;
  text-transform: none;
}

.subsection:hover .textcontainer{
  border-bottom: 2px solid $red;
}

.subcontainer {
  justify-content: space-between;
  padding: 0;
  margin: 40px auto 100px auto;
  list-style: none;
  display: flex;
  width: 100%;
  color:$greydark;
}

.subcontainer h2 {
  padding: 0em 1em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: .1em;
}
.subcontainer p {
  font-size: 14px;
  padding: 0 1em 0 1em;
  letter-spacing: 0.35px;
  line-height:1.5em;
  font-weight: 100;
  margin:0;
}

.placeholder {
  background-color: $greymedium;
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
  position: relative;
}

.placeholder > img {
  width: 100%;
  transition: all 0.25s;
  position: absolute;
  top: 0;
  left: 0;
}

.subsection:hover > .placeholder > img {
  transform: scale(1.04);
}

.textcontainer {
  float: left;
  display: flex;
  padding: 30px 20px;
  align-items: center;
  background-color: $greylight;
  border-bottom: 2px solid $greymedium;
}

.textcontainer > div {
  display: inline;
}

@media (max-width: 580px) {
  .placeholder {
    display: none;
  }

  .subcontainer {
    display: block;
  }

  .subsection:hover .textcontainer {
    border-bottom: 0px solid transparent;
  }

  .textcontainer {
    background-color: transparent;
    border-bottom: 0px solid transparent;
  }


  .textcontainer {
    display: inline;
    margin: 0 auto;
  }
}

@media (max-width:600px) {
  .section h1 {
    font-size: 18px;
    text-transform:uppercase;
  }
  .section h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.1em;
    line-height: 1.375em;
    text-transform:uppercase;
  }

  .textcontainer {
    padding: 10px 20px;
  }

  .textcontainer h2 {
    font-size: 14px;
    line-height: 1.6em;
    margin-bottom: 0;
  }

  .subcontainer {
    margin: 20px auto 60px auto;
  }

  .subcontainer p {
    padding: 0.25em 1em 0 1em;
  }
}