@import "src/shared-styles/variables";
@import "src/shared-styles/styles.scss";

.subsection {
  height: 100%;
  flex: 0 1 300px;
  margin: 0;
  background-color: $greylight;
  border-bottom: 2px solid $greymedium;
  transition: 0.3s all;
  overflow: hidden;
  border-radius: 2px;
}

.main h1 {
  margin-top: 80px;
  color: $greymedium;
  font-size: 1.2em;
}

.main h2 {
  font-weight: 300;
  font-size: 2.4em;
  text-transform: none;
}

.subsection:hover {
  height: 100%;
  flex: 0 1 300px;
  margin: 0;
  background-color: $greylight;
  border-bottom: 2px solid $red;
  overflow: hidden;
}

.subcontainer {
  justify-content: space-between;
  padding: 0;
  margin: 40px auto 300px auto;
  list-style: none;
  display: flex;
  width: 100%;
  color:$greydark;
}

.subcontainer h2 {
  padding: 0em 1em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: .1em;
}
.subcontainer p {
  font-size: 14px;
  padding: 0 1em 0 1em;
  letter-spacing: 0.35px;
  line-height:1.5em;
  font-weight: 100;
  margin:0;
}

.placeholder {
  background-color: $greymedium;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.placeholder > img {
  min-width: 100%;
  max-height: 100%;
  transition: all 0.25s;
}

.subsection:hover > .placeholder > img {
  transform: scale(1.04);
}

.textcontainer {
  float: left;
  display: flex;
  padding: 30px 20px;
  align-items: center;
}

.textcontainer > div {
  display: inline;
}

.weightroom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  overflow: hidden;
}

.weightroom div {
  position: absolute;
  top: -2.5vw;
  overflow: hidden;
  height: 100px;
  width: 100vw;
}

.weightroom img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  mix-blend-mode: multiply;
}