@import "src/shared-styles/variables";
@import "src/shared-styles/styles";

.section {
  background-color: $red;
}

.main h1 {
  margin-top: 90px;
  color: $white;
  font-size: 1.2em;
}

.main h2 {
  font-weight: 300;
  font-size: 2.4em;
  text-transform: none;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 80px;
}