@import "src/shared-styles/variables";
@import "src/shared-styles/styles";

.section {
  background-color: $red;
  align-items: center;
  display: block;
}

.main h1 {
  margin-top: 80px;
  font-size: 1.2em;
  color: $white;
}

.main h2 {
  font-weight: 300;
  font-size: 2.4em;
  text-transform: none;
  margin-bottom: 80px;
}

.diagramcontainer {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 0;
}

.diagramcontainer > img {
  max-width: 100%;
}

.diagram {
  max-width: 100%;
}

.main h2 {
  margin: 0 auto;
  max-width: a;
  color: $white;
  font-size: 2em;
}

.description {
  color: $white;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 100;
  font-size: 1.4em;
  line-height: 1.3em;
}

.description b {
  color: $white;
  font-weight: 600;
}

.mbtoverlay {
  position: absolute;
  top: 50px;
}

.mbt {
  margin-top: 0px;
  margin-bottom: 70px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.button {
  margin-top: 50px;
  margin-bottom: 150px;
  color: $white;
  font-size: 1.2em;
  font-weight: 500;
  border: 2px solid $white;
  border-radius: 10px;
  padding: 15px;
  text-decoration: none;
}

.button:hover {
  color: $red;
  background-color: $white;
  text-decoration: none;
}

@media (max-width: 800px) {
  .description {
    font-size: 1.2em;
    line-height: 1.35em;
  }

  .button {
    font-size: 1.1em;
  }
}

@media (max-width:600px) {
  .main {
    max-width: 100vw;
    padding:0;
  }

  .section h1 {
    padding-left:20px;
    padding-right:20px;
  }
  .section h2 {
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 0.1em;
    line-height: 1.375em;
    padding-left:20px;
    padding-right:20px;
  }
  .diagramcontainer {
    max-width: 100vw;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
  }

  .description {
    margin-top: 0;
    font-size: 1.1em;
    line-height: 1.4em;
  }

  .button {
    font-size: 0.9em;
  }
}
