

@import '../../shared-styles/variables';
@import '../../shared-styles/styles';

.main {
	position: absolute;
	top: 0;
	max-width: none;
}

.logo {
  display: block;
  width: 252px;
  height: 252px;
  margin: $padding auto;
  background: url('../../images/icon-kytLogo_large-252x252.svg');
}

.teamlogo{
	margin: 2.5em;
}