@import "./variables";
@import "./helvetica";

* {
  box-sizing: border-box;
  color: $greydark;
}

.container {
  display: block;
  width: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Helvetica Neue LT Std", sans-serif;
}

.section {
  position: relative;
  align-items: center;
  display: flex;
  flex: 1;
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

.main {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 20px;
  padding-right: 20px;
}

.section h1 {
  position: relative;
  font-size: 3.5em;
  line-height: 1.3em;
  font-weight: 600;
  z-index: 10;
}


.main h1 {
  display: inline-block;
  margin: 80px auto;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: $greydark;
  font-family: "Helvetica Neue LT Std", sans-serif;
}

.section h2 {
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: 400;
  z-index: 9;
}

.button {
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  line-height: 1.5em;
  padding: 0em 1em;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: transparent;
  color: #616161;
  border: 1px solid #616161;
  box-shadow: none;
}

@media (max-width: 800px) {
  .section h1 {
    font-size: 3.3em;
  }
  body {
    font-size: 12.5px;
  }
  .section h2 {
    font-size: 3em;
    font-weight: 500;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 7px;
  }
}


