@import "src/shared-styles/variables";
@import "src/shared-styles/styles";

.header {
  position: fixed;
  background-color: transparent;
  font-size: 1.25em;
  padding: .5em;
  font-weight: 600;
  z-index: 1;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  background-color: $white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: $greydark;
  transition: all 0.3s;
  transform: translate3d(0,0,0);
}

.section * {
  transform: translate3d(0,0,0);
}

.main {
  display: flex;
  justify-content: space-between;
  clear: both;
  width: 100%;
}

.header h1 {
  margin: 0;
  letter-spacing: 0em;
  text-transform: none;
}

.header .menu {
  margin-right: 1em;
  float: right;
}

.link {
  height: 2.5em;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  color: $greydark;
  display: inline-block;
  position: relative;
  padding: .5em 1em .5em 1em;
  border-radius: 2px;
  font-size: 0.75em;
  letter-spacing: 0.25em;
  background-color: $white;
  box-shadow: none;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 1;
}

.button {
  height: 2.5em;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: $darkred;
  border: 2px solid $darkred;
  display: inline-block;
  position: relative;
  padding: .5em 1em .5em 1em;
  border-radius: 2px;
  font-size: 0.75em;
  letter-spacing: 0.25em;
  background-color: $white;
  box-shadow: none;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 1;
}

.button:hover {
  opacity:1;
  background-color: $darkred;
  color: $white;
  border: 2px solid $darkred;
}

@media (hover: none) {
  .button:hover {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    opacity: inherit;
  }
}

.logo {
  height: 1.2em;
  content: url('https://assets.reponestrength.com/logo.png');
}


@media (max-width:600px) {
  .main {
    padding: 0;
  }

  .logo {
    content: url('https://assets.reponestrength.com/logo-no-text.png');
  }
}

@media (max-width: 350px) {
  .button {
    font-size: 0.7em;
  }

  .header .menu {
    margin-right: 0;
  }
}
