@import "src/shared-styles/variables";
@import "src/shared-styles/styles";

.header {
  position: fixed;
  background-color: $c4;
  color: #212121;
  font-size: 1.25em;
  padding: 1em;
  font-weight: 600;
  z-index: 1;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  border: 1px solid #fafafa;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
}

.header .button {
  margin-right: 1em;
}
