@import 'src/shared-styles/variables';
@import 'src/shared-styles/styles.scss';

.main {
    max-width: 100%;
}

.barbellcontainer {
    position: absolute;
    width: 30em;
    left: 0;
    top: 5em;
    height: 37.5em;
}

.barbellcontainer img{
    position: absolute;
    left: 0;
    top: 0;
}

.reponecontainer {
    position: absolute;
    margin-left: 10%;
    width: 30em;
    left: 0;
    bottom: 0;
    height: 37.5em;
}

.reponecontainer img {
    position: absolute;
}

.barbelltrack {
    position:absolute;
    top:0;
    left:0;
    height:15em;
}

.reponecontainer img:nth-of-type(1) {
    width: 11em;
    right: 3em;
    top: 5em;
}

.reponecontainer img:nth-of-type(2) {
    width: 13em;
    left: 0;
    top: 5em;
}

.reponecontainer img:nth-of-type(3) {
    width: 19em;
    right: 0;
}

.devicecontainerdesktop {
    position: absolute;
    margin-right: 10%;
    width: 30em;
    right: 0;
    bottom: 0;
    height: 37.5em;
}

.devicecontainerdesktop img {
    position: absolute;
}

.devicecontainerdesktop img:nth-of-type(2) {
    width: 25em;
    bottom: 0;
}

.devicecontainerdesktop img:nth-of-type(1) {
    width: 50em;
    right: 0;
    bottom: 0;
}

.devicecontainertouch {
    display: none;
    position: absolute;
    margin: 1em auto;
    bottom: 0;
    right: 0;
    margin-right: 25%;
    background-image: url(src/images/ipad.png);
    background-size: cover;
    width: 20em;
    height: 28em;
    align-items: center;
}

.ipadcontainer img {
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
    margin: 0 auto;
}

@media (max-width: 1350px) {
    .devicecontainerdesktop {
        font-size: 11px;
    }
    .reponecontainer {
        font-size: 11px;
    }
}

@media (max-width: 1024px) {
    .main h2 {
        margin-bottom: 15em;
    }
    .devicecontainerdesktop {
        display: none;
    }
    .devicecontainertouch {
        display: block;
    }
    .reponecontainer {
        margin-left: 20%;
    }
    .reponecontainer img:nth-of-type(1) {
        display: none;
    }
}

@media (max-width: 800px) {
    .devicecontainertouch {
        width: 30em;
        height: 42em;
        margin-right: 10%;
    }
}

@media (max-width: 600px) {
    .devicecontainertouch {
        bottom: 5em;
        width: 30em;
        height: 42em;
    }
    .reponecontainer img:nth-of-type(2) {
        width: 9em;
        left: 0;
        top: 15em;
    }
    .reponecontainer img:nth-of-type(3) {
        width: 15em;
        left: 5em;
        bottom: 0;
    }
}
