@import "src/shared-styles/variables";
@import "src/shared-styles/styles";
.section {
  margin-top: 100px;
  height: 20em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main {
  position: absolute;
  top: 0;
  padding: 0;
  max-width: 100vw;
}

.teamlogocontainer {
  display: flex;
  overflow: hidden;
  height: 10em;
  justify-content: space-between;
}

.teamlogo {
  width: 20%;
  margin: 2.5em;
}
